<h1>from sklearn import linear_model</h1>

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

<h1>Read Home Prices DataFrame</h1>

In [2]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

<h1>Fill the NaN bedroom value with df.bedrooms.median()</h1>

In [3]:
df.bedrooms.fillna(df.bedrooms.median(), inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

<h1>Create an object of Linear Regression class and, fit the data</h1>

In [4]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

<h1>Coefficients ( m1, m2, m3, ... ), <br>equation: y = m1 * x1 + m2 * x2 + m3 * x3 + ..... + b</h1>

In [5]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

<h1>Intercept (b)</h1>

In [6]:
reg.intercept_

221323.00186540443

<h1>Predict for 300 sq area, 3 bedromms and 40 age</h1>

In [7]:
reg.predict([[3000, 3, 40]])

array([498408.25158031])