In [1]:
import pandas as pd

<h1>Create DataFrame</h1>

In [2]:
df = pd.read_csv('carprices.csv')
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800

<h1>Split into x, y</h1>

In [5]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

<h1>Train Test Split</h1>

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [11]:
len(x_train), len(y_train), len(x_test), len(y_test)

(15, 15, 4, 4)

<h1>Linear Regression</h1>

In [12]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(x_train, y_train)

model.predict(x_test)

array([30315.2677671 , 22221.47858221, 14468.69912569, 26438.87803884])

In [ ]:
model.score(x_test, y_)